---
layout: compress
published: true
---

<!DOCTYPE html>
<html lang="{% if page.lang == 'zh' or page.url == '/chinese/' or page.url == '/chinese/index.html' %}zh-Hans{% else %}en{% endif %}">

	<head>
		{% include head.html %}
	</head>

	<body class="layout-{{ page.layout | default: 'default' }}{% if page.lang == 'zh' or page.url == '/chinese/' or page.url == '/chinese/index.html' %} lang-zh{% endif %}">

		{% include header.html %}

		<main id="content" class="site-main">
			{{ content }}
		</main>

		{% include footer.html %}

	</body>

</html>
